/*
* @Author: Administrator
* @Date:   2019-03-08 15:07:02
* @Last Modified by:   Administrator
* @Last Modified time: 2019-03-16 00:35:44
*/
.tl {
	overflow: hidden;
	height: 30px;
	 background: #f1f1f1; 
	 
}
.biaoT {
	background: #fff;
}
.biaoT .leftL li {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #646464;

}
.biaoT .leftL li a {
	color: #c5171f;
	font-size: 14px;
}
.biaoT .leftL li span {
	margin: 0 14px;
}
.biaoT .right li {
	line-height: 30px;
}
.biaoT .right .link {
	width: 1px;
	height: 14px;
	background: #666666;
	margin: 8px 14px;
}
.biaoT .right li i {
	color: #666;
	 margin-left:14px;
 }


/*  导航部分 */
.qb {
	border-bottom: 2px solid red;
}
.nav {
	height: 150px;
	position: relative;
	 /* background: pink;  */

}

 .nav .logo a {
   display: block;
	height: 100px;
	width:173px;
	background:url('../imgas/logo.png') no-repeat;
	font-size: 0px;
} 
.search {
	height:32px;
	width: 537px;
	/* background: red; */
	position: absolute;
	top:30px;
	left:347px;
	border:1px solid #b11a1a;
}
input[type="text"] {
	float: left;
	width: 442px;
	height: 32px;
	outline: none;
	border:none;
	color: 16px;
	font-size: 16px;
	padding-left: 11px;
/* 	background: red; */
}
input[type="button"] {
   outline: none;
	border:none;
	width:84px;
	height: 32px;
	background:#b11a1a;
	font-size: 16px;
	color: #eed5ce;
} 

.car {
	float:right;
	height: 34px;
	width: 138px;
	 background: #f7f7f7; 
	margin-top: 25px;
	margin-right: 63px;
	font-size: 13px;
	position: relative;
}

.car .jL {
    float: left;
	height: 15px;
	width: 20px;
	background: url('../imgas/icons.png') no-repeat -415px -90px;
	margin-left: 19px;
	margin-top: 10px;
	margin-right: 6px;
	font-size: 15px;

}
.car span {
	line-height: 34px;
	text-align: center;
}
.car span:nth-child(3) {
	margin-left: 15px;
}
.car .jd {
	width: 16px;
	height: 16px;
	border-radius: 8px 8px 8px 0;
	background: red;
	position: absolute;
	right: 18px;
	top: -8px;
	color: #fff;
	font-size: 10px;
	text-align: center;
}

 .nav .dd {
     position: absolute;
     left: 358px;
     top: 69px;
}
.nav .dd li {
	float: left;
	margin-right: 28px;
	font-size: 14px;
	color: #636363;
}
 
.nav .xdd  {
	 position: absolute;
     left: 295px;
     top: 120px;
}
.nav .xdd li {
	float: left;
	margin-right: 47px;
	font-size: 15px;
	color:#909090;
}


/* 底部内容 */
.tlx {
	background: #f5f5f5;

}
 .footer {
    height: 416px;
    padding-left: 40px;

    /* background: pink; */
}
.tb {
	    height: 112px;
		border-bottom: 0.5px solid #c6c6c6;
		margin-bottom: 21px;

}
.tb li {
	width:20%;
	height: 52px;
	/* background: pink; */
    margin-top: 38px;


}
.tb .zp1 {
	width: 52px;
	height: 52px;
	 background: red;
	border-radius: 26px;
	
	background:url('../imgas/icons.png') no-repeat -252px 1px;
	/* background:url('../imgas/icons.png') no-repeat -252px 1px; */
	/* margin-top: 28px; */
		/* background:url('../imgas/icons.png') no-repeat -252px 54px;
			background:url('../imgas/icons.png') no-repeat -252px 106px;
				background:url('../imgas/icons.png') no-repeat -252px 157px;
					background:url('../imgas/icons.png') no-repeat -252px 209px; */
}
.tb .zp2 {
	width: 52px;
	height: 52px;
/* 	 background: red; */
	border-radius: 26px;
	background:url('../imgas/icons.png') no-repeat -252px -54px;
}
.tb .zp3 {
	width: 52px;
	height: 52px;
	 background: red;
	border-radius: 26px;
	background:url('../imgas/icons.png') no-repeat -252px -105px;
}
.tb .zp4 {
	width: 52px;
	height: 52px;
	 background: red;
	border-radius: 26px;
	background:url('../imgas/icons.png') no-repeat -252px -157px;
}
.tb .zp5 {
	width: 52px;
	height: 52px;
	 background: red;
	border-radius: 26px;
	background:url('../imgas/icons.png') no-repeat -252px -209px;
}



 .tb li .wen {

	margin-left: 7px;
	margin-top: 8px;
    
} 
.tb li .wen h5 {
	color: #343434;
	font-size: 17px;
}
.tb li .wen span {
	color: #656565;
	font-size: 14px;
}

.zbx {
	padding-left: 52px;
	height: 187px;
	border-bottom: 0.5px solid #c6c6c6;

}
.zbx dl {
	margin-right: 121px;
}
 .zbx dl:nth-child(6) {
	margin-right: 0px;
} 
.zbx dl dt {
	font-size: 18px;
	color: #363636;
	height: 31px;
}
.zbx dl dd {
	font-size: 12px;
	height:22px;
	color: #323232;
}

.zbx .phto {
	width: 90px;
	height: 90px;
	background: url('../imgas/wx_cz.jpg') no-repeat;
}
.zbx .help {
	line-height: 31px;
	width: 90px;
	 padding-left: 12px; 

}



.zhh {
	padding-left:117px;
		margin-top: 19px;
}
 .zhh .dad .line {
	width: 1px;
	height: 10px;
	background: #9b9b9b;
	margin: 4px 13px;
} 
.zhh .dad li {
	font-size: 12px;
	color: #696969;
}


.zhh .wzz {
	line-height: 22px;
	color: 11px;
	color: #676767;
	text-align: center;
}


.conter {
	/* height: 454px; */
	background: #ffffff;
	position: relative;
	padding-top: 10px; 

}
.conter .fenL {
	position: absolute;
	left: 0;
	top: -45px;
}
.conter .fenL h3 {
	width: 209px;
	height: 45px;
	font-size: 18px;
	color: #fefff7;
	line-height: 45px;
	text-align: center;
	background: #b11a1a;
}
.conter .fenL li {
	height: 31px;
	line-height: 31px;
	padding: 0 10px;
	background: #c81822;
}
.conter .fenL li a {
	font-size: 14px;
	color: #fee3d5;
}
.conter .fenL li span {
	float: right;
	color: #fee3d5;
}
.conter .fenL li:hover {
	background: #f7f7f7;
}
.conter .fenL li:hover a {
	color: #c81822;
}

.conter .lunBo {
	margin-left: 219px;
	width: 721px;
/* 	background: pink; */
	overflow: hidden; 
	position: relative;

} 
.conter .lunBo ul {
	 width: 600%; 
	/* background: red; */
} 
.conter .lunBo .arrowl,
 .conter .lunBo .arrowr{
 	display: none;
	height: 50px;
	width: 50px;
	line-height: 60px;
	font-size:30px;
	text-align: center;
	background:rgba(0,0,0,.3);
	color:rgba(255,255,255,0.5);
	position: absolute;
	/*  left: 0;  */
	top: 50%;
	margin-top: -30px;
	cursor: pointer; 
}
.conter .lunBo .arrowl:hover,
 .conter .lunBo .arrowr:hover {
    background:rgba(0,0,0,.5);
    	color:rgba(255,255,255,0.2); 
 }
 .conter .lunBo .arrowr {
 	right:0;
 }
 .conter .lunBo:hover .arrowl,
 .conter .lunBo:hover .arrowr {
 	display: block;;
 }
  .conter .lunBo .yuan {
  	width:180px;
  	height: 30px;
  	background:rgb(0,0,0,.5);
  	border-radius: 20px;
  	position:absolute;
  	bottom: 10px;
  	left: 275px;
  }
  .conter .lunBo .yuan li {
  	width: 20px;
  	height: 20px;
  	border-radius: 10px;
  	background:rgba(255,255,255,.4);
  	float: left;
  	margin:5px;
  }
  .conter .lunBo li:hover {
  	background:rgba(255,255,255,.6);
  }
  .new {
       border: 1px solid #ebebeb;
       width: 248px;
  }
  .new h3 {
  	height: 32px;
  	width: 232px;
  /* 	background: red; */
  	font-size: 15px;
  	color: #7d7d7d;
    padding-left:16px;
    line-height: 32px;
    border-bottom: 1px dashed #ebebeb;
  }
  .new ul {
  	margin-top: 11px;
  }
  .new .gong li {
  	   padding-left:16px;
  	  color: #686868;
  	  font-size: 14px;
  	  line-height: 25px;
  }
    .new li span {
    	color: #000;
    	font-size: 14px;
    }
      .new .jlt {
      	overflow:hidden;
      }
     .new .jlt ul {
     	width: 268px;
     	
     }
    .new .jlt li  {
    	width: 62px;
    	height: 65px;
        border-top: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
    }
     .new .jlt li span {
     	color:#666;
     	font-size: 12px;
     }



      
    .jlt-l a {
             text-align: center;
    }
    .jlt-l{
    	width:24px;
    	height: 27px;
    	/* background:url('../imgas/icons.png') no-repeat -19px -16px; */
    	/* background:red; */
    	margin-top: 12px;
    	margin-left: 21px;
    	
    }
   .jlt a:nth-child(1) .jlt-l {
   	   background:url('../imgas/icons.png') no-repeat -19px -16px;
   }
   .jlt a:nth-child(2) .jlt-l {
   	   background:url('../imgas/icons.png') no-repeat -80px -18px;
   }
   .jlt a:nth-child(3) .jlt-l {
   	   background:url('../imgas/icons.png') no-repeat -142px -18px;
   }
   .jlt a:nth-child(4) .jlt-l {
   	   background:url('../imgas/icons.png') no-repeat -205px -18px;
   }
   .jlt a:nth-child(5) .jlt-l {
   	   background:url('../imgas/icons.png') no-repeat -18px -89px;
   }
   .jlt a:nth-child(6) .jlt-l {
   	   background:url('../imgas/icons.png') no-repeat -80px -89px;
   }
   .jlt a:nth-child(7) .jlt-l {
   	   background:url('../imgas/icons.png') no-repeat -142px -89px;
   }
   .jlt a:nth-child(8) .jlt-l {
   	   background:url('../imgas/icons.png') no-repeat -205px -89px;
   }
   .jlt a:nth-child(9) .jlt-l {
   	   background:url('../imgas/icons.png') no-repeat -18px -160px;
   }
   .jlt a:nth-child(10) .jlt-l {
   	   background:url('../imgas/icons.png') no-repeat -80px -160px;
   }
   .jlt a:nth-child(11) .jlt-l {
   	   background:url('../imgas/icons.png') no-repeat -142px -160px;
   }
   .jlt a:nth-child(12) .jlt-l {
   	   background:url('../imgas/icons.png') no-repeat -205px -160px;
   }
   
    .jlt span {
          margin-top: 12px;
          margin-left: 18px;
         
    }


    .dz {
    	height: 163px;
    	width: 205px;
    	background: #5c5351;
  
    }
     .clock {
    		margin-top: 29px ;
    		margin-left: 60px;
    } 
    .dz img {
    	margin-left: 10px;
    }

      .dz h3 {
      	color: #fbfefe;
      	font-size: 19px;
      	margin-top: 11px;


      }
      .dz-r {
      	height: 143px;
      	width: 974px;
      	padding: 10px 0;
      	padding-left:21px;
      	/* background: pink; */
      		background: #ebebeb;
      }
      .dz-r  li {
      	float: left;
      	width: 223px;
      	height: 153px;
      	border-right: 1px solid #dddddd;
      	padding-left: 15px;


      }
        .dz-r  li:nth-child(1) {
        	width: 242px;
             padding-left: 0px;
        }
      .dz-r  li:nth-child(4) {
            border-right: none;
      }

       .dz-r .haoh h5  {
               font-size: 19px;
               color: #373737;
               margin-top: 10px;
       }
       .haoh p {
       	width: 59px;
       	height: 20px;
       	border-radius:10px ;
       text-align: center;
       line-height: 20px;
       font-size: 15px;
       color: #f5ffff;
       margin-top: 15px;
       }
        .dz-r li:nth-child(2) p { 
        	background:#5fb300;
            }

       .dz-r li:nth-child(3) p { 
        	background:#e31b30;
            }
        .dz-r li:nth-child(4) p { 
        	background:#0086f9;
            }

       .dz-r .haoh span {
       	     font-size: 14px;
       	     color:#727272;
       }
            .dz-r .haoh span:nth-child(2) {
            	color: #fff;
            	display: block;
            	height: 20px;
            	width: 86px;
            	background: #00a3e6;
            	margin-top: 11px;
            	margin-bottom: 5px;

            }
            .dz-r img {
            	margin-right: 15px; 
            	margin-top: 15px;

            } 
            .dz-r li:last-child  img {
                      margin-right: 0;
            }
            

            .jian-2 {
            	background: #5fb300 ! important;
            }
            .jian-3 {
            	background: #e2172f ! important;
            }
/* 
    今日推荐结束 */


/*  猜你喜欢 */
.love {
	

	margin-top: 21px;
}
.love-top {
	height: 39px;
/*    background: pink;  */
}
.love-top h4 {
     	float: left; 
	   height: 39px;
       font-size: 20px;
       line-height: 39px; 
}
.love-top span {
	margin-top: 5px;
	float: right;
	height: 34px;
	font-size: 16px;
	line-height: 34px;
	color: #686868;
	margin-right: 20px;

}
.love-top span a {
 	 float: right;  
	width: 16px;
	height: 16px;
	background: url('../imgas/icons.png') no-repeat -421px -111px;/* 问题 */
	margin-top: 9px;
	margin-left: 5px;
}
.love-center {
	border: 1px solid #ededed;
	height: 231px;
}
.love-center li {
	float: left; 
	width: 199px;
	height: 231px;
	/*  text-align: center;  */
	 /* background: pink;  */
	

}

.love-center li img {
	display: block;
	
	 margin: 0 auto; 
	  /* 问题 */
}

.wens {
	height: 63px;
	padding: 0 23px;
	margin-top:16px;
	border-right: 1px solid #ededed;
}
.love-center ul li:last-child .wens {
	border-right:none;
}
.wens span {
   line-height: 23px;
   color: #676767;
   font-size: 14px;
}
 .money  em {
	font-size: 16px;
	color: #d63434;
	font-weight: 600;

}

/*  猜你喜欢结束 */



/* 有趣区开始 */
.fun {
	margin-top: 18px;
	margin-bottom: 20px;

}
.fun-cenetr>ul>li{
	border-top: 1px solid #dedede;
	border-bottom:  1px solid #dedede;
    float: left;
    overflow: hidden; 
    height: 405px;

}
.fun-cenetr>ul>li:nth-child(2) {
	 width: 225px;
	height: 405px;
	 

}
.fun-cenetr>ul>li:nth-child(2) h5 {
	 width: 190px;
     height: 39px;
     line-height: 39px;
     font-size: 15px;
     color: #333333;
     text-align: center;
  
     margin-left: 17px;
}
.fun-cenetr>ul>li:nth-child(3) {
	width:405px;
	background: #f7f7f7;
	

}
.fun-cenetr>ul>li:nth-child(3) h5 {
	 width: 365px;
     height: 39px;
     line-height: 39px;
     font-size: 15px;
     color: #333333;
     text-align: center;
  
     margin-left: 22px;
}
 .fun-cenetr .logot {
 	height: 375px;
	width: 155px;
	padding:15px 0 15px 6px;

}
.fun-cenetr li:nth-child(4) ul li {
	float: left;
	width: 74px;
	height: 54px;
	/* margin-left: 6px; */
	border-right: 1px dashed #dedede;
	border-bottom: 1px dashed #dedede;
	line-height: 54px; 
	/* background: skyblue; */

}
 .fun-cenetr .logot li:nth-child(13),
.fun-cenetr .logot li:nth-child(14) {
	border-bottom:none;
}
.logot li img {
	/*  margin-top:15px;  */

	 width: 100%;

}
.fun-cenetr .logot ul li:nth-child(2n) {
	margin-left: 0px;
	border-right: none;
}
/* 有趣区结束 */

/* 家用电器 */
.homeD {
	margin-bottom: 18px;
}
.home-top {
	height: 39px;
	border-bottom: 2px solid #c7171f;
/*    background: pink;  */
}
.home-top h4 {
     	float: left; 
	   height: 39px;
       font-size: 18px;
       color: #c51824;
       line-height: 37px; 
}
.home-top ul {
	margin-top: 8px; 
	 float: right; 
}
.home-top ul li {
	float: left;
}
.home-top ul li a {
	color: #676767;
	font-size: 14px;
}
.home-top ul li a:hover {
	color: #c21519;
}
.home-top .line {
	height: 14px;
	width: 1px;
	background: #999999;
	margin: 0 16px;
	margin-top: 4px;
}
.home-center>ul>li {
	float: left;
}
.home-center>ul>li:nth-child(1) {
	height: 360px;
	width: 210px;
	 background: #f9f9f9; 
}
.home-center>ul>li:nth-child(1) li {
	float: left;
	height: 32px;
	width: 86px;
	line-height: 32px;
	text-align: center;
	border-bottom: 1px solid #ededed;
	margin-left: 12px;
}
.home-center>ul>li:nth-child(1) li a {
	color: #676767;
	font-size: 12px;
}
.home-center>ul>li:nth-child(2) {
	position: relative;
	width: 326px;
	height: 360px;
}
.home-center>ul>li:nth-child(2) img {
	position: absolute;
	top:0;
	left: 0;
}
    .sh{
  	width:60px;
  	height: 20px;
  	background:rgb(0,0,0,.5);
  	border-radius: 10px;
  	position:absolute;
  	bottom: 14px;
  	left:50%;
  	margin-left: -30px;
  }
  .sh li {
  	width: 10px;
  	height: 10px;
  	border-radius: 5px;
  	background:rgba(255,255,255,.4);
  	float: left;
  	margin:5px;
  }
  .sh li:hover {
  	background:rgba(255,255,255,.6);
  }
  .home-center>ul>li:nth-child(3) li {
  	 width: 221px;
  	 background: #ffffff;
  	 float: left;
  }
    .home-center>ul>li:nth-child(3) li img {
    	border-bottom: 1px solid #dedede;
    	border-right: 1px solid #dedede;
    }
   
  .home-center>ul>li:nth-child(3) .dsd {
  	border-right: none;
  }

 .u2 {
 	margin-top: 20px;
 	height:65px;
 	background: #f7f7f7;

   /*    background:#f7f6f7; */
 }

 .u2 li  {
	float: left;
	width:119px;
	height: 40px;
	margin-top: 12px;
	line-height: 40px;
	text-align: center;
	border-right: 1px dashed #dedede;
	/*  padding: 0 10px;  */

	

}
 .u2 li:last-child {
 	border: none;
 }
 .u2 li img {
	
	 /*  width: 100%  */ 
}

/* 家用电器 结束*/
